@font-face {
	font-family: 'Icomoon';
	src: url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.a-throbber {
	background: rgba(0, 0, 0, .7);
	display: none;
	position: relative;
	z-index: 100;
}
	.a-throbber .w-zbui-throbber {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -29px 0 0 -29px;
	}
